@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply font-poppins
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-roboto
    }
}